.controls
    display: flex
    width: 960px
    height: 80px
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)

    .left-side, .right-side
        display: flex
        justify-content: space-between
        width: 140px

        button
            width: 60px
            height: 30px
            outline: none
            border: 1px solid #fff
            border-radius: 4px
            opacity: 0.5
            background: transparent
            color: #fff
            font-size: 12px

            &.active
                border: none
                background: rgba(255, 255, 255, 0.2)
                opacity: 1



